<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();
        $(document).ready(function(){
            socket.emit('admin_connected');
        });
        socket.on('user_connection',function(data){
            var str = "#"+data.roll;
            if(!$(str).length)
            {
                var row="<tr id="+data.roll+">"+"<td>"+data.uname+"<td>"+data.roll+"<td>"+data.mail+"<td>"+data.contact+"<td>0</tr>";
                $('#users').append(row);
                $(str).css("background-color","rgb(0, 102, 255)");
            }
        });
        socket.on('user_connection2',function(data){
            var str = "#"+data.roll;
            if(!$(str).length)
            {
                var row="<tr id="+data.roll+">"+"<td>"+data.uname+"<td>"+data.roll+"<td>"+data.mail+"<td>"+data.contact+"<td>0</tr>";
                $('#users').append(row);
                $(str).css("background-color","rgb(0, 102, 255)");
            }
            else
            {
                var fr =$(str).children(":last").html();
                $(str).children(":last").replaceWith("<td>"+(++fr));
                if(fr==1)
                {
                    $(str).css("background-color","#FFFFFF");
                }
                if(fr>1)
                {
                    $(str).css("background-color","red");
                }
            }
        });
        socket.on('user_disconnection',function (data) {
            var id = "#"+data.roll;
            $(id).css("background-color","rgb(71, 209, 71)");

        });
        function start() {
            socket.emit('start_test');
        };
        function stop(){
            socket.emit('stop_test');
        };

    </script>
</head>
<body>
<div class="container">
    <div align="center">
        <div>
            <input type="button" value="Start" onclick="start()">
            <input type="button" value="Stop" onclick="stop()">
        </div>
    </div>
    <div id="table">
        <table class="table table-responsive" id="users">
            <tr><th>Name</th><th>Roll No.</th><th>Email</th><th>Contact</th><th>Freq</th></tr>
        </table>
    </div>
</div>
</body>
</html>